@model IEnumerable<ExpenseManagementSystem.Models.PersonalClaim>

@{
    ViewData["Title"] = "Index";
}

<body style="overflow:hidden;">





<h3 style="padding-left:250px;padding-top:50px;color:#0000b3">
    Claims Page
</h3>


<p style="padding-left:250px;padding-top:25px;text-align:justify;" >
        As an Employee, can add new claims against the bill spent for official purposes. 
        The Claim added here will be passed on to the Reporting Manager
        and then to Finance Manager upon Approve by Reporting Manager. 
        The amount will be reambursied only after the Approve by Finance Manager. 
        If claim is Partial Aproved or Rejected in any stage,
        Employee needs to recheck on the claim or connect with respective Manager.
    </p>
    <h6 style="padding-left:250px;color:#ff0000">To Add new Claim click on the button Create New Claim.</h6>
    <p style="padding-left:900px">

        <a asp-action="AddClaim" type="button" class="btn btn-outline-primary">Create New Claim</a>
    </p>



    <br />
<p style="padding-left:250px;padding-top:25px;text-align:justify;">
    As an Employee, can check the claims made in past and can check the status of the claim. The Claims can be edited and viewed.
</p>
<h6 style="padding-left:250px;color:#ff0000">To check your previous claims and their status click on Previous Claims List.</h6>
<p style="padding-left:900px">
    <a asp-action="ClaimList" type="button" class="btn btn-outline-primary">Previous Claims List</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.claimantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.claimantEmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.managerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.managerEmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accuntNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.claimingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.claimantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.claimantEmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.managerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.managerEmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accuntNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.claimingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.claimID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.claimID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.claimID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
</body>