@model cloudscribe.Pagination.Models.PagedResult<PersonalClaim>

@{
    ViewData["Title"] = "Index";
}

<body style="overflow:hidden;background-color:#f5f5f0">
    <h3 style="padding-left:250px;padding-top:50px;color:#0000b3">
    Claims List
</h3>
<div style="padding-left:250px;padding-top:25px">
    <table class="table-bordered" style="width:70%">
            <thead style="background-color:aliceblue;height:35px; text-align: center;font-size:17px">
            <tr>
                <th>
                   Claim ID
                </th>
              @*  <th>
                    @Html.DisplayNameFor(model => model.claimantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.claimantEmailID)
                </th>*@
                @*  <th>
                @Html.DisplayNameFor(model => model.DeptID)
                </th>*@

                @*  <th>
                @Html.DisplayNameFor(model => model.billingDate)
                </th>*@
                <th>
                   Manager Email-ID
                </th>
                <th>
                   Claimed Date
                </th>
                <th>
                    Status
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.ImageFile)
                </th>*@
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr style="background-color:white">
                        <td style="padding-left:40px">
                        @Html.DisplayFor(modelItem => item.claimID)
                    </td>
                  @*  <td>
                        @Html.DisplayFor(modelItem => item.claimantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.claimantEmailID)
                    </td>*@
                    @* <td>
                @Html.DisplayFor(modelItem => item.DeptID)
                </td>*@

                    @*  <td>
                @Html.DisplayFor(modelItem => item.billingDate)
                </td>*@
                        <td style="padding-left:30px">
                        @Html.DisplayFor(modelItem => item.managerEmailID)
                    </td>
                        <td style ="padding-left:20px">
                        @Html.DisplayFor(modelItem => item.claimingDate)
                    </td>
                    <td>
                      @* @Html.DisplayFor(modelItem => item.stusID)*@
                   
                    @if(item.stusID==1)
                        {
                                <h6 style="padding-left:25px;padding-top:5px;color:#002db3">Applied</h6>
                        }
                        else if(item.stusID==2 && item.stusID==3)
                        {
                                <h6 style="padding-left:25px;padding-top:5px;color:#00cc00">Approved</h6>
                        }
                        else if (item.stusID==4 && item.stusID==5)
                        {
                                <h6 style="padding-left:25px;padding-top:5px;color: #ffd11a">Partial Approved</h6>
                        }
                        else
                        {
                                <h6 style="padding-left:25px;padding-top:5px;color:red">Rejected</h6>
                        }
                     </td>
                      <td>
                            @if (item.stusID==6 && item.stusID==5)
                            {
                                <a asp-action="Details" asp-route-id="@item.claimID">Details</a>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            }
                            else
                            {
                                <a asp-action="Details" asp-route-id="@item.claimID">Details</a>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            }

                      </td>  
                           @* <a asp-action="Edit" asp-route-id="@item.claimID">Edit</a>  <i class="fa fa-pencil" aria-hidden="true"></i>
                            <a asp-action="Details" asp-route-id="@item.claimID">Details</a> <i class="fa fa-eye" aria-hidden="true"></i>*@
@*                        <a asp-action="Delete" asp-route-id="@item.claimID">Delete</a>*@
                    
                </tr>
            }
        </tbody>
    </table>

    @*<div class="form-group" style="padding-left:250px">
    <a asp-action="ClaimPage">Back to List</a>
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>*@
    <br />
        <div style="padding-right:25px;padding-left:600px">
        @* <input type="submit" value="Save" class="btn btn-success" style="width:100px; margin:10px" />*@
            <a asp-action="ClaimPage" class="btn  btn-outline-primary" style="width:100px; margin:10px"> Back </a>
    </div>
       
    <div style="padding-left:600px;padding-top:50px">

            <cs-pager cs-paging-pagenumber=Model.PageNumber
                      cs-paging-totalitems=Model.TotalItems
                      cs-paging-pagesize=Model.PageSize
                      cs-pagenumber-param="pagenumber"
                      asp-controller="PersonalClaim" asp-action="ClaimList"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link">

            </cs-pager>
    </div>
   

</div>
   
</body>

