@model ExpenseManagementSystem.Models.PersonalClaim

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>PersonalClaim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.claimantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.claimantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.claimantEmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.claimantEmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.managerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.managerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.managerEmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.managerEmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accuntNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accuntNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFSC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.billingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.billingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.claimingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.claimingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.claimAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.claimAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remarkManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remarkManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remarkFinanace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remarkFinanace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.claimID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
