@model ExpenseManagementSystem.Models.PersonalClaim

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body style="overflow:auto">

<div style="padding-left:250px;">
    <h4>Applied Claim Details</h4>
    <br />
        <div class="col-md-12">


                    <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <b>Claimant Name: </b>  @Html.DisplayFor(model => model.claimantName)
                                  </div>
                                </div>
                           
                            <div class="col-md-5">
                              <div class="form-group">
                                  <b>Claimant Email-ID: </b> @Html.DisplayFor(model => model.claimantEmailID)
                              </div>
                            </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <b> Department: </b>
                                @if (Model.DeptID==1)
                                {
                                    <h6> Accounts</h6>
                                }
                                else if (Model.DeptID==2)
                                {
                                    <h6> Financial Services</h6>
                                }
                                else if (Model.DeptID==3)
                                {
                                    <h6> Enablement Services</h6>
                                }
                                else if (Model.DeptID==4)
                                {
                                    <h6>Human Resources</h6>
                                }
                                else
                                {
                                    <h6> Software Services</h6>
                                }

                            </div>
                        </div>
                    </div>

                    <br />
           
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Manager Name: </b>  @Html.DisplayFor(model => model.managerName)
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <b>Manager Email-ID: </b> @Html.DisplayFor(model => model.managerEmailID)
                            </div>
                        </div>


                        @*<div class="col-md-3">
                            <div class="form-group">
                                <b>Claimant Email-ID: </b> @Html.DisplayFor(model => model.DeptID)
                            </div>
                        </div>*@
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Bank Account Number: </b>  @Html.DisplayFor(model => model.accuntNumber)
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b>IFSC: </b> @Html.DisplayFor(model => model.IFSC)
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <b> Amount: ₹   </b>  @Html.DisplayFor(model => model.claimAmount)
                            </div>
                        </div>
                    </div>

                    <br />

                   

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Biling Date: </b>  @Html.DisplayFor(model => model.billingDate)
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Claimed Date: </b> @Html.DisplayFor(model => model.claimingDate)
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b> Status: </b> @Html.DisplayFor(model => model.stusID)
                            </div>
                        </div>
                    </div>

                    <br />


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <b>Claim Description: </b>  @Html.DisplayFor(model => model.description)
                            </div>
                        </div>
                    </div>

                    <br />

                  @*  <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <b>Status: </b>  @Html.DisplayFor(model => model.ClaimStatus)
                            </div>
                        </div>
                        for image
                        <div class="col-md-5">
                            <div class="form-group">
                                <b>IFSC: </b> @Html.DisplayFor(model => model.ImageFile)
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <b> Amount:  </b>  @Html.DisplayFor(model => model.claimAmount)
                            </div>
                        </div>

                    </div>

                    <br />*@



            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <b> Invoice: </b>  @Html.DisplayFor(model => model.ImageName)
                    </div>
                </div>
            @* for image
                <div class="col-md-5">
                <div class="form-group">
                <b>IFSC: </b> @Html.DisplayFor(model => model.ImageFile)
                </div>
                </div>*@
               @* <div class="col-md-5">
                    <div class="form-group">
                        <b> Image Name: </b>  @Html.DisplayFor(model => model.ClaimStatus)
                    </div>
                </div>*@

            </div>

            <br />


           @* <div class="row">
                <div class="col-md-12">
                            <div class="form-group">
                                <b>Claim Description: </b>  @Html.DisplayFor(model => model.description)
                            </div>
                </div>
            </div>

            <br />*@
        </div>
    <br />
</div>
    <div style ="padding-left:850px;">
        <a asp-action="FrontPage" class="btn btn-primary">Back to List</a>
        <a asp-action="updateClaimApplied" asp-route-id="@Model?.claimID" class="btn btn-success">Update</a>
      
   </div>
</body>
</html>
