@model ExpenseManagementSystem.Models.PersonalClaim

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body style="overflow:hidden;">
 <div style="padding-left:225px;"> 
        <h4 style="color:#0000b3;padding-top:10px"> Finance Manager action on recommended claim </h4>
        <br />
        <div class="row">
            <div class="col-md-12">
               
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <b>Claimant Name: </b>  @Html.DisplayFor(model => model.claimantName)
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <b>Claimant Email-ID: </b> @Html.DisplayFor(model => model.claimantEmailID)
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <b> Department: </b>
                            @if(Model.DeptID==1)
                            {
                                <h6> Accounts</h6>
                            }else if (Model.DeptID==2)
                            {
                                <h6> Financial Services</h6>
                            }
                            else if (Model.DeptID==3)
                            {
                                <h6> Enablement Services</h6>
                            }
                            else if (Model.DeptID==4)
                            {
                                <h6>Human Resources</h6>
                            }
                            else 
                            {
                                <h6> Software Services</h6>
                            }
                            
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <b>Manager Name: </b>  @Html.DisplayFor(model => model.managerName)
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <b>Manager Email-ID: </b> @Html.DisplayFor(model => model.managerEmailID)
                        </div>
                    </div>


                    @*<div class="col-md-3">
                    <div class="form-group">
                    <b>Claimant Email-ID: </b> @Html.DisplayFor(model => model.DeptID)
                    </div>
                    </div>*@
                </div>

                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <b>Bank Account Number: </b>  @Html.DisplayFor(model => model.accuntNumber)
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <b>IFSC: </b> @Html.DisplayFor(model => model.IFSC)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <b> Amount:  </b>  @Html.DisplayFor(model => model.claimAmount)
                        </div>
                    </div>
                </div>

                <br />



                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <b>Biling Date: </b>  @Html.DisplayFor(model => model.billingDate)
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <b>Claim Applied Date: </b> @Html.DisplayFor(model => model.claimingDate)
                        </div>
                    </div>

                   @* <div class="col-md-4">
                        <div class="form-group">
                            <b> Status: </b> @Html.DisplayFor(model => model.stusID)
                        </div>
                    </div>*@
                </div>

                <br />


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <b>Claim Description: </b>  @Html.DisplayFor(model => model.description)
                        </div>
                    </div>
                </div>

                <br />

                <input type="hidden" asp-for="claimID" />
                <form asp-action="Edit">
                     <div class="row"> 
                            <div class="col-md-10"> 
                                <div class="form-group">
                                <b>  <label asp-for="remarkManager" class="control-label"></label></b> <span style="color:red;">*</span>
                                    <input asp-for="remarkManager" class="form-control" />
                                    <span asp-validation-for="remarkManager" class="text-danger"></span>
                                </div>
                            </div>
                          
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <b> <label class="control-label"> Status </label> </b> <span style="color:red;">*</span>
                                @*<select asp-for="stusID" class="form-control" asp-items="ViewBag.stusID"></select>*@
                                <select asp-for="stusID" class="form-control">
                                    <option value=""> - -Select - - </option>
                                    <option value="3">Approved by Finance Manager</option>
                                    <option value="5">Partial approved by Finance Manager</option>
                                    <option value="7">Rejected by Finance Manager</option>

                                </select>
                                <span asp-validation-for="stusID" class="text-danger"></span>


                            </div>
                        </div>
                       
                    </div>
                  

                    <div  style="align-content:flex-end;padding-left:600px">
                        <div class="form-group">
                            <a asp-action="InitialPage" class="btn btn-primary">Back to List</a>
                            <input type="submit" value="Submit" class="btn btn-success" />
                            
                        </div>
                    </div>
                   
                    
                </form>
               
               
               

            </div>
        </div>

        
 </div>
</body>
</html>


@*
<div class="form-group">
    <label asp-for="remarkFinanace" class="control-label"></label>
    <input asp-for="remarkFinanace" class="form-control" />
    <span asp-validation-for="remarkFinanace" class="text-danger"></span>
</div>*@


@*<div class="form-group">
    <label asp-for="ImageName" class="control-label"></label>
    <input asp-for="ImageName" class="form-control" />
    <span asp-validation-for="ImageName" class="text-danger"></span>
</div>*@