@model ExpenseManagementSystem.Models.PersonalClaim

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body style="overflow:auto">

<div style="padding-left:250px;">
        <h4 style="padding-top:10px;color:#0000b3"> <u> Approved Claim Details</u> </h4>
    <br />
        <div class="col-md-12">


                    <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <b>Claimant Name: </b>  @Html.DisplayFor(model => model.claimantName)
                                  </div>
                                </div>
                           
                            <div class="col-md-5">
                              <div class="form-group">
                                  <b>Claimant Email-ID: </b> @Html.DisplayFor(model => model.claimantEmailID)
                              </div>
                            </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <b> Department: </b>
                                @if (Model.DeptID==1)
                                {
                                    <h6> Accounts</h6>
                                }
                                else if (Model.DeptID==2)
                                {
                                    <h6> Financial Services</h6>
                                }
                                else if (Model.DeptID==3)
                                {
                                    <h6> Enablement Services</h6>
                                }
                                else if (Model.DeptID==4)
                                {
                                    <h6>Human Resources</h6>
                                }
                                else
                                {
                                    <h6> Software Services</h6>
                                }

                            </div>
                        </div>
                    </div>

                    <br />
           
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Manager Name: </b>  @Html.DisplayFor(model => model.managerName)
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <b>Manager Email-ID: </b> @Html.DisplayFor(model => model.managerEmailID)
                            </div>
                        </div>


                        @*<div class="col-md-3">
                            <div class="form-group">
                                <b>Claimant Email-ID: </b> @Html.DisplayFor(model => model.DeptID)
                            </div>
                        </div>*@
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Bank Account Number: </b>  @Html.DisplayFor(model => model.accuntNumber)
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b>IFSC: </b> @Html.DisplayFor(model => model.IFSC)
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <b> Amount: ₹  </b>  @Html.DisplayFor(model => model.claimAmount)
                            </div>
                        </div>
                    </div>

                    <br />

                   

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Biling Date: </b>  @Html.DisplayFor(model => model.billingDate)
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Claimed Date: </b> @Html.DisplayFor(model => model.claimingDate)
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                 @*@Html.DisplayFor(model => model.stusID)*@
                        <b> Status: </b>     @if (Model.stusID==1)
                                    {
                                        <h6 style="color:#0000b3"> Applied</h6>
                                    }
                                    else if (Model.stusID==2)
                                    {
                                        <h6 style="color:#009900">Approved by Managar </h6>
                                    }
                                    else if (Model.stusID==3)
                                    {
                                        <h6 style="color:#009900">Approved by Finance Manager </h6>
                                    }
                                    else if (Model.stusID==4)
                                    {
                                        <h6 style="color:#e6b800"> Partial approved by  Manager </h6>
                                    }
                                    else if (Model.stusID==5)
                                    {
                                        <h6 style="color:#e6b800"> Partial approved by Finance Manager </h6>
                                    }
                                    else if (Model.stusID==6)
                                    {
                                        <h6 style="color:red"> Rejected by  Manager </h6>
                                    }
                                    else
                                    {
                                        <h6 style="color:red"> Rejected by Finance Manager </h6>
                                    }
                            </div>
                        </div>
                    </div>

                    <br />


                    @*<div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <b>Claim Description: </b>  @Html.DisplayFor(model => model.description)
                            </div>
                        </div>
                    </div>

                    <br />*@

                  @*  <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <b>Status: </b>  @Html.DisplayFor(model => model.ClaimStatus)
                            </div>
                        </div>
                        for image
                        <div class="col-md-5">
                            <div class="form-group">
                                <b>IFSC: </b> @Html.DisplayFor(model => model.ImageFile)
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <b> Amount:  </b>  @Html.DisplayFor(model => model.claimAmount)
                            </div>
                        </div>

                    </div>

                    <br />*@



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b> Invoice: </b>  @*@Html.DisplayFor(model => model.ImageName)*@
                        <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="200px" height="200px" />
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="form-group">
                        <b>Claim Description: </b>  @Html.DisplayFor(model => model.description)
                    </div>
                </div>
            @* for image
                <div class="col-md-5">
                <div class="form-group">
                <b>IFSC: </b> @Html.DisplayFor(model => model.ImageFile)
                </div>
                </div>*@
               @* <div class="col-md-5">
                    <div class="form-group">
                        <b> Image Name: </b>  @Html.DisplayFor(model => model.ClaimStatus)
                    </div>
                </div>*@

            </div>

            <br />


           @* <div class="row">
                <div class="col-md-12">
                            <div class="form-group">
                                <b>Claim Description: </b>  @Html.DisplayFor(model => model.description)
                            </div>
                </div>
            </div>

            <br />*@
        </div>
    <br />
</div>
    <div style ="padding-left:850px;">
        <a asp-action="InitialPage" class="btn btn-outline-primary">Back </a>
        <a asp-action="updateClaimApproved" asp-route-id="@Model?.claimID" class="btn btn-outline-success"> Update </a>
       
   </div>
</body>
</html>
